@page "/fetchdata"
@inject HttpClient Http
@using IMS.DTO;

<PageTitle>Categories</PageTitle>

<h1>Categories</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>CategoryID</th>
                <th>Category Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories.OrderBy(c => c.CategoryId))
            {
                <tr>
                    <td>@category.CategoryId</td>
                    <td>@category.CategoryName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private CategoryDto[]? categories;

    protected override async Task OnInitializedAsync()
    {
        try {
            categories = await Http.GetFromJsonAsync<CategoryDto[]>("api/Category");
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
        
    }
}
